@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
body {
  margin: 0; }

* {
  font-family: 'Roboto', sans-serif; }

#app-root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.query-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: #f8f8ff;
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 0.5em;
  justify-content: center;
  max-width: calc(600px + 1em); }
  .query-form > div:last-child {
    display: flex;
    justify-content: space-around; }
  .query-form > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 600px; }
    .query-form > div > button {
      justify-self: flex-end; }
    .query-form > div > label {
      font-weight: bold;
      flex-grow: 1;
      width: 20em; }
    .query-form > div > div:nth-child(2) {
      position: relative;
      display: flex;
      width: 20em;
      height: 3em;
      line-height: 3;
      background: #47cf73;
      overflow: hidden;
      border-radius: 0.25em; }
      .query-form > div > div:nth-child(2)::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #97dbad;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: 0.25s all ease;
        -o-transition: 0.25s all ease;
        transition: 0.25s all ease; }
      .query-form > div > div:nth-child(2):hover::after {
        color: #f39c12; }
      .query-form > div > div:nth-child(2) > select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #47cf73;
        background-image: none;
        flex: 1;
        padding: 0 0.5em;
        color: #000000;
        cursor: pointer; }
        .query-form > div > div:nth-child(2) > select::-ms-expand {
          display: none; }
    .query-form > div > div:nth-child(3) {
      text-align: center;
      color: green;
      width: 80px;
      font-size: 34px; }

button {
  color: #000000;
  background-color: #47cf73;
  outline: none;
  border: none;
  width: 20em;
  border-radius: 0.25em;
  padding: 0.5em;
  line-height: 3;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease; }
  button:hover {
    background-color: #f39c12;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3); }

.hidden {
  display: none;
  opacity: 0; }

.active {
  display: block;
  opacity: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center; }
  .overlay > div {
    z-index: 1000;
    margin: auto;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8ff;
    border-radius: 0.25em;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3); }
    .overlay > div > div:nth-child(1) {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      .overlay > div > div:nth-child(1) > h4 {
        padding: 0.5em;
        margin: 0;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        background-color: #47cf73; }
      .overlay > div > div:nth-child(1) > div {
        flex-grow: 1;
        padding: 0.5em; }
    .overlay > div > div:nth-child(2) {
      display: flex;
      justify-content: flex-end;
      padding: 0.5em; }

.header {
  width: 100%;
  padding: 0.5em 0;
  height: 38px;
  line-height: 38px;
  font-size: 24px;
  font-weight: bold;
  background-color: #47cf73;
  text-align: center; }
