$input-color: #47cf73;
$hilight: #97dbad;
$text-color: #000000;
$hover-color: #f39c12;
$input-trans: .25s all ease;
$border-radius : .25em;
$pad: .5em;
$line: 3;
$shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
$panel: #f8f8ff;
$animation-speed: 1s;